.darMode{
  font-size: 1em;
  position: absolute;
  top: 0.625em;
  right: 0.625em;
  display:flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width:768px){
  .darMode{
    top: 50%;
    transform: translateY(-50%);
    right: 0.625em;
  }
}
.btn--DarkMode {
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
  display: none;
}
.btn--DarkModeShow {
  display: flex;
}