.loader {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: var(--grisClaro);
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s, visibility 0.1s;
}
.loader--show {
	opacity: 0;
	visibility: hidden;
}
.loader__icon {
	width: 20rem;
	height: 20rem;
	animation: loader 5s infinite;
}
.loader__icon--show {
	animation: none;
}
.loader__bottom,
.loader__top,
.loader__circle {
	fill: var(--color-primary);
	stroke: var(--grisClaro);
	stroke-width: 20;
}
@keyframes loader {
	0% {
		transform: rotate(360deg) scale(1);
	}
	50% {
		transform: rotate(0deg) scale(1.09);
		opacity: 0;
	}
	100% {
		transform: rotate(0deg) scale(1);
		opacity: 1;
	}
}
.loader__title {
	margin: 0;
	position: absolute;
	bottom: 0.625rem;
	right: 0.625rem;
	font-size: 3rem;
	font-family: Ketchum, system-ui, sans-serif;
	color: yellow;
	-webkit-text-stroke: 0.0625rem blue;
}