
.pokemonNotFound {
	width: 100%;
	height: 100vh;
	font-size: 0.9375rem;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	display: grid;
	place-items: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
	background-color: var(--grisMuyClaroTransparent);
}
.pokemonNotFound--show {
	opacity: 1;
	visibility: visible;
}
.pokemonNotFound__content {
	width: 18.75em;
	height: 20em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	transform: translateY(-100%);
	transition: transform 0.3s;
	border-radius: 0.3125em;
	border: 0.25em solid var(--bluePrimary);
	box-shadow: 0 0 0.625em var(--bluePrimary);
	background-color: var(--grisClaro);
}
.pokemonNotFound__content--show {
	transform: scale(1);
}
.pokemonNotFound__title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1em;
	line-height: 2.5em;
	text-align: center;
	color: yellow;
	-webkit-text-stroke: 0.0625rem blue;
	font-family: Ketchum, system-ui, sans-serif;
}
@media screen and (min-width: 1024px) {
	.pokemonNotFound__title {
		font-size: 4em;
	}
}
.pokemonNotFound__icon {
	width: 9.375em;
	height: 9.375em;
}
