:root {
	--grisClaro: #fefefe;
	--grisMuyClaro: #333;
	--grisMuyClaroPlaceHolder: #4e4e4e;
	--grisMuyClaroTransparent: rgba(254, 254, 254, 0.8);
	--bluePrimary: #2aa6ff;
	--redPrimary: #ec1b23;
	--imgBackground: url('./../assets/src/img/backgroundDarkMobile.svg');
}
html.dark {
	--grisClaro: #333;
	--grisMuyClaro: #eee;
	--grisMuyClaroTransparent: rgba(51, 51, 51, 0.8);
	--imgBackground: url('./../assets/src/img/backgroundLightMobile.svg');
}
@media screen and (min-width: 2560px) {
	:root {
		--imgBackground: url('./../assets/src/img/backgroundDarkDesktop.svg');
	}
	html.dark {
		--imgBackground: url('./../assets/src/img/backgroundLightDesktop.svg');
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--grisClaro: #333;
		--grisMuyClaro: #eee;
		--grisMuyClaroTransparent: rgba(51, 51, 51, 0.8);
		--imgBackground: url('./../assets/src/img/backgroundLightMobile.svg');
	}
	html.light {
		--grisClaro: #fefefe;
		--grisMuyClaro: #333;
		--grisMuyClaroTransparent: rgba(254, 254, 254, 0.8);
		--imgBackground: url('./../assets/src/img/backgroundDarkMobile.svg');
	}
	@media screen and (min-width: 2560px) {
		:root {
			--imgBackground: url('./../assets/src/img/backgroundLightDesktop.svg');
		}
		html.light {
			--imgBackground: url('./../assets/src/img/backgroundDarkDesktop.svg');
		}
	}
}
html {
	scroll-behavior: smooth;
	font-size: calc(16px + (20 - 16) * (100vw - 320px) / (2500 - 320));
}
@media screen and (min-width: 2560px) {
	html {
		font-size: calc(16px + (38 - 16) * (100vw - 480px) / (2560 - 480));
	}
}
*::-webkit-scrollbar {
	width: 0.5rem;
}
*::-webkit-scrollbar-thumb {
	background: var(--color-primary);
	border-radius: 0.3125rem;
}
body {
	background-image: var(--imgBackground);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 1.25rem;
}
.scrollNone {
	overflow: hidden;
}
.btn {
	padding: 0.3125em;
	border: 0;
	border-radius: 0.3125em;
	transition: transform 0.3s;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 0.1875em var(--bluePrimary);
	border: 0.125em solid var(--bluePrimary);
	background-color: var(--grisClaro);
}
@media (hover: hover) {
	.btn:hover {
		transform: scale(1.05);
	}
}
.btn:active {
	transform: scale(1);
}
.btn::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.btn--pagination,
.btn--paginationTypes {
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
}
.btn--paginationShow {
	display: none;
}
.loader {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: var(--grisClaro);
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s, visibility 0.1s;
}
.loader--show {
	opacity: 0;
	visibility: hidden;
}
.loader__icon {
	width: 20rem;
	height: 20rem;
	animation: loader 5s infinite;
}
.loader__icon--show {
	animation: none;
}
.loader__bottom,
.loader__top,
.loader__circle {
	fill: var(--color-primary);
	stroke: var(--grisClaro);
	stroke-width: 20;
}
@keyframes loader {
	0% {
		transform: rotate(360deg) scale(1);
	}
	50% {
		transform: rotate(0deg) scale(1.09);
		opacity: 0;
	}
	100% {
		transform: rotate(0deg) scale(1);
		opacity: 1;
	}
}
.loader__title {
	margin: 0;
	position: absolute;
	bottom: 0.625rem;
	right: 0.625rem;
	font-size: 3rem;
	font-family: Ketchum, system-ui, sans-serif;
	color: yellow;
	-webkit-text-stroke: 0.0625rem blue;
}
.main {
	width: 100%;
	font-size: 0.7rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15.625em, auto));
	gap: 1.25em;
	justify-items: center;
	justify-content: center;
	align-items: center;
	align-content: center;
}
@media screen and (min-width: 768px) {
	.main {
		grid-template-columns: repeat(4, 15.625em);
	}
}
.contentPagination {
	width: 100%;
	height: 3.125em;
	font-size: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	bottom: 0;
}
