:root {
	--grisClaro: #fefefe;
	--grisMuyClaro: #333;
	--grisMuyClaroPlaceHolder: #4e4e4e;
	--grisMuyClaroTransparent: rgba(254, 254, 254, 0.8);
	--bluePrimary: #2aa6ff;
	--imgBackground: url('./../assets/src/img/backgroundDarkMobile.svg');
}
html.dark {
	--grisClaro: #333;
	--grisMuyClaro: #eee;
	--grisMuyClaroTransparent: rgba(51, 51, 51, 0.8);
	--imgBackground: url('./../assets/src/img/backgroundLightMobile.svg');
}
@media screen and (min-width: 2560px) {
	:root {
		--imgBackground: url('./../assets/src/img/backgroundDarkDesktop.svg');
	}
	html.dark {
		--imgBackground: url('./../assets/src/img/backgroundLightDesktop.svg');
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--grisClaro: #333;
		--grisMuyClaro: #eee;
		--grisMuyClaroTransparent: rgba(51, 51, 51, 0.8);
		--imgBackground: url('./../assets/src/img/backgroundLightMobile.svg');
	}
	html.light {
		--grisClaro: #fefefe;
		--grisMuyClaro: #333;
		--grisMuyClaroTransparent: rgba(254, 254, 254, 0.8);
		--imgBackground: url('./../assets/src/img/backgroundDarkMobile.svg');
	}
	@media screen and (min-width: 2560px) {
		:root {
			--imgBackground: url('./../assets/src/img/backgroundLightDesktop.svg');
		}
		html.light {
			--imgBackground: url('./../assets/src/img/backgroundDarkDesktop.svg');
		}
	}
}
html {
	scroll-behavior: smooth;
	font-size: calc(16px + (20 - 16) * (100vw - 320px) / (2500 - 320));
}
@media screen and (min-width: 2560px) {
	html {
		font-size: calc(16px + (38 - 16) * (100vw - 480px) / (2560 - 480));
	}
}
*::-webkit-scrollbar {
	width: 0.5rem;
}
*::-webkit-scrollbar-thumb {
	background: var(--color-primary);
	border-radius: 0.3125rem;
}
body {
	padding-bottom: 4.0625rem;
	background-image: var(--imgBackground);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.scrollNone {
	overflow: hidden;
}
.btn {
	padding: 0.3125rem;
	border: 0;
	border-radius: 0.3125rem;
	transition: transform 0.3s;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 0.1875rem var(--bluePrimary);
	border: 0.125rem solid var(--bluePrimary);
	background-color: var(--grisClaro);
}
.btn:hover {
	transform: scale(1.09);
}
.btn:active {
	transform: scale(1);
}
.btn::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.btn--DarkMode {
	width: 2.5rem;
	height: 2.5rem;
	z-index: 2;
	position: absolute;
	top: 0.625rem;
	right: 0.625rem;
	border-radius: 50%;
	transform: translateY(-100%);
	opacity: 0;
	visibility: hidden;
	transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
}
@media screen and (min-width: 768px) {
	.btn--DarkMode {
		width: 2.1875rem;
		height: 2.1875rem;
		top: 0.3125rem;
		right: 0.3125rem;
	}
}
.btn--DarkModeShow {
	transform: translateX(0%);
	opacity: 1;
	visibility: visible;
}
.btn--menu {
	width: 2.5rem;
	height: 2.5rem;
	position: relative;
}
@media screen and (min-width: 768px) {
	.btn--menu {
		display: none;
	}
}
.btn--menuBar {
	width: 100%;
	height: 0.3125rem;
	position: relative;
	border-radius: 0.3125rem;
	background-color: var(--color-primary);
}
.btn--menuBar::after,
.btn--menuBar::before {
	content: '';
	position: absolute;
	top: -0.5rem;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0.3125rem;
	background-color: var(--color-primary);
	transition: transform 0.5s;
}
.btn--menuBar::before {
	top: 0.5rem;
}
.btn--menuBarShow {
	background-color: transparent;
}
.btn--menuBarShow::after,
.btn--menuBarShow::before {
	top: 0;
	transform: rotate(45deg);
}
.btn--menuBarShow::before {
	transform: rotate(-45deg);
}
.btn--paginationTypes,
.btn--pagination,
.btn--filter {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.125rem;
	border-radius: 50%;
}
.btn--paginationShow {
	display: none;
}
.loader {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: var(--grisClaro);
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s, visibility 0.1s;
}
.loader--show {
	opacity: 0;
	visibility: hidden;
}
.loader__icon {
	width: 20rem;
	height: 20rem;
	animation: loader 5s infinite;
}
.loader__icon--show {
	animation: none;
}
.loader__bottom,
.loader__top,
.loader__circle {
	fill: var(--color-primary);
	stroke: var(--grisClaro);
	stroke-width: 20;
}
@keyframes loader {
	0% {
		transform: rotate(360deg) scale(1);
	}
	50% {
		transform: rotate(0deg) scale(1.09);
		opacity: 0;
	}
	100% {
		transform: rotate(0deg) scale(1);
		opacity: 1;
	}
}
.loader__title {
	margin: 0;
	position: absolute;
	bottom: 0.625rem;
	right: 0.625rem;
	font-size: 3rem;
	font-family: Ketchum, system-ui, sans-serif;
	color: yellow;
	-webkit-text-stroke: 0.0625rem blue;
}
.menu {
	width: 100%;
	height: 3.125rem;
	padding: 0.625rem;
	position: relative;
	z-index: 2;
}
@media screen and (min-width: 768px) {
	.menu {
		padding: 0px;
	}
}
.menu__nav {
	width: 100%;
	position: absolute;
	transform: translateX(-200%);
	transition: transform 0.3s;
}
.menu__nav--show {
	left: 50%;
	transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
	.menu__nav {
		position: initial;
		transform: translateX(0%);
	}
}
.menu__menu {
	width: 100%;
	padding: 0;
	border-radius: 0.125rem;
	background-color: var(--grisClaro);
	box-shadow: 0 0.1875rem 0.3125rem rgba(51, 51, 51, 0.5);
}
@media screen and (min-width: 768px) {
	.menu__menu {
		margin-top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.menu__link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.625rem;
	font-weight: bold;
	color: var(--color-primary);
	transition: color 0.2s;
	position: relative;
}
.menu__link::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
@media (hover: hover) {
	.menu__link:hover {
		color: var(--grisMuyClaro);
	}
	.menu__item--subMenu:hover .icon--subMenuArrow {
		transform: rotate(0deg);
	}
}
.menu__icon {
	width: 1rem;
	height: 1rem;
	margin-right: 0.3125rem;
}
.menu__icon--search {
	width: 2.1875rem;
	height: 2.1875rem;
}
.menu__icon--game {
	width: 1.5rem;
	height: 1.5rem;
}
.menu__item {
	padding: 0.3125rem;
	border-bottom: 0.0625rem solid var(--bluePrimary);
}
.menu__item:last-child {
	border-bottom: 0px solid var(--color-primary);
}
@media screen and (min-width: 768px) {
	.menu__item {
		border-bottom: 0px solid var(--color-primary);
	}
}
.menu__item--subMenu {
	position: relative;
}
.filter {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.filter__contentType {
	height: 2.1875rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0.3125rem;
	border-radius: 3.125rem;
	border: 0.125rem solid var(--bluePrimary);
	box-shadow: 0 0 0.1875rem var(--bluePrimary);
	position: relative;
}
.filter__contentType::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
@media (hover: hover) {
	.filter__contentType:hover + .filter__typeOption {
		opacity: 1;
		visibility: visible;
	}
}
.filter__content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.filter__content > .filter__type {
	margin: 0;
}
.filter__btn {
	cursor: pointer;
	border: 0;
	width: 3.125rem;
}
.filter__btn svg {
	width: 100%;
	height: 100%;
}
.filter__type {
	height: 1.5625rem;
	--BGTypes: rgb(161, 161, 161);
	cursor: pointer;
	font-weight: bold;
	border-radius: 6.25rem;
	border: 0;
	padding: 0 0.9375rem;
	margin: 0.625rem auto;
	background-color: var(--BGTypes);
	transition: transform 0.3s;
}
.filter__option > .filter__type:not(last-of-type) {
	margin-bottom: 0;
}
.filter__type--hidden {
	display: none;
}
@media (hover: hover) {
	.filter__type:hover {
		transform: scale(0.95);
	}
}
.filter__typeOption {
	width: 8.75rem;
	height: 12.5rem;
	padding-bottom: 0.625rem;
	overflow: auto;
	position: absolute;
	top: 2.1875rem;
	z-index: 3;
	background-color: var(--grisClaro);
	border-bottom-left-radius: 0.3125rem;
	border-bottom-right-radius: 0.3125rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out;
}
@media (hover: hover) {
	.filter__typeOption:hover {
		visibility: visible;
		opacity: 1;
	}
}
.filter__typeOption--show {
	opacity: 1;
	visibility: visible;
}
.search {
	display: flex;
	justify-content: center;
	align-items: center;
}
.search__content {
	width: 15.625rem;
	height: 2.1875rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	border-radius: 3.125rem;
	border: 0.125rem solid var(--bluePrimary);
	box-shadow: 0 0 0.1875rem var(--bluePrimary);
}
.search__text {
	width: 100%;
	height: 100%;
	border: 0;
	font-weight: bold;
	outline: none;
}
.search__text:focus .search__contentSuggestions {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
.search__text::placeholder {
	color: var(--grisMuyClaroPlaceHolder);
	font-weight: bold;
	font-size: 1.25rem;
}
.search__btnSearch {
	position: relative;
	border: 0;
	padding: 0;
}
.search__btnSearch::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.search__suggestions {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.search__contentSuggestions {
	width: 100%;
	max-height: 12.5rem;
	overflow: scroll;
	overflow-x: hidden;
	position: absolute;
	top: 2.1875rem;
	padding: 0;
	margin: 0;
	border-bottom-left-radius: 0.3125rem;
	border-bottom-right-radius: 0.3125rem;
	background-color: var(--grisClaro);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
}
.search__contentSuggestions--show {
	opacity: 1;
	visibility: visible;
}
.search__listSuggestions:last-child {
	border-bottom: 0 solid var(--color-primary);
}
.search__listSuggestions {
	border-bottom: 0.0625rem solid var(--color-primary);
}
.search__linkSuggestions {
	padding: 0.625rem;
	font-weight: bold;
	transform: scale(1.02);
	transition: transform 0.3s, color 0.3s;
}
@media (hover: hover) {
	.search__linkSuggestions:hover {
		transform: scale(1);
		color: var(--grisMuyClaro);
	}
}
.contentDarMode {
	position: absolute;
	top: 0px;
	right: 0px;
}
.main {
	width: 100%;
	height: 100%;
	font-size: 1rem;
	margin-top: 1.25rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(13.75em, auto));
	gap: 1.25em;
	justify-items: center;
}
.main--game {
	font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
	.main--game {
		font-size: 1.1rem;
	}
}
@media screen and (min-width: 1024px) {
	.main--game {
		font-size: 1rem;
	}
}
@media screen and (min-width: 1440px) {
	.main--game {
		font-size: 1.1rem;
	}
}
.contentPagination {
	width: 100%;
	height: 3.125rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	bottom: 0;
}
.cardGame {
	width: 15.625em;
	height: 18.75em;
	font-size: 0.8125em;
	cursor: pointer;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;
}
.cardGame::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
}
.cardGame--show {
	transform: rotateY(180deg);
}
.card {
	padding: 0.625em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('./../assets/src/img/cardBackground.png');
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	font-size: 0.8125rem;
}
.card--pokemon {
	width: 15.625em;
	height: 18.75em;
	border-radius: 0.3125em;
	box-shadow: 0 0 0.625em var(--bluePrimary);
	position: relative;
	border: 0.125em solid var(--bluePrimary);
}
@media (hover: hover) {
	.card--pokemon:hover {
		transform: scale(1.01);
		box-shadow: 0 0 0.625em var(--grisMuyClaro);
	}
}
.card--pokemon::after {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.card--game,
.cardGame__from {
	width: 100%;
	height: 100%;
	border-radius: 0.3125em;
	position: absolute;
	border: 0.125em solid var(--bluePrimary);
	backface-visibility: hidden;
}
.cardGame__from {
	background-color: #333;
	background-image: url(./../assets/src/img/back.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.card--game {
	width: 100%;
	height: 100%;
	position: absolute;
	transform: rotateY(180deg);
	flex-direction: column;
}
.card__elements {
	width: 1.25em;
	position: absolute;
	top: 0.3125em;
	right: 0.3125em;
}
.card__elementIcon {
	width: 100%;
	margin-bottom: 0.3125em;
}
.card__contentName {
	padding: 0.3125rem 0.625rem;
	position: absolute;
	bottom: 1.25em;
	border-radius: 0.3125em;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--grisMuyClaroTransparent);
	border: 0.125em solid var(--grisMuyClaro);
	box-shadow: 0 0 0.3125em var(--grisMuyClaro);
}
.card__name {
	text-align: center;
	margin: 0;
	font-size: 1.5625em;
	font-weight: bold;
}
.card__name::first-letter {
	text-transform: uppercase;
}
.card__contentImg {
	width: 14.0625em;
	height: 100%;
}
.card__img {
	width: 100%;
	height: 100%;
}
.modal {
	width: 100%;
	height: 100vh;
	padding: 0.3125em 0;
	background-color: var(--grisMuyClaroTransparent);
	position: fixed;
	top: 0;
	z-index: 3;
	display: grid;
	place-items: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s, visibility 0.2s;
	font-size: 0.9375rem;
}
.modal--show {
	opacity: 1;
	visibility: visible;
}
.modal__pokedex {
	width: 20em;
	height: auto;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	border: 0.125em solid var(--color-primary);
	border-radius: 6.25em;
	background-color: var(--bluePrimary);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.4s, visibility 0.2s;
	transition-delay: 0.1s;
}
.modal__pokedex--show {
	opacity: 1;
	visibility: visible;
	animation-name: scale;
	animation-duration: 0.4s;
	animation-timing-function: ease-out;
}
.modal__btn {
	width: 1.875em;
	height: 1.875em;
	position: absolute;
	top: 6.875em;
	right: 0.625em;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	padding: 0;
}
.modal__btn::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
.modal__iconClose {
	position: relative;
	width: 90%;
	height: 0.3125em;
}
.modal__iconClose::after,
.modal__iconClose::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 0.3125em;
	top: 0;
	left: 0;
	border-radius: 0.625em;
	background-color: var(--grisMuyClaro);
	transform: rotate(45deg);
	transition: transform 0.3s;
}
.modal__iconClose::before {
	transform: rotate(-45deg);
}
@media (hover: hover) {
	.modal__btn:hover .modal__iconClose::after {
		transform: rotate(-45deg);
	}
	.modal__btn:hover .modal__iconClose::before {
		transform: rotate(45deg);
	}
}
.modal__top {
	width: 20em;
	transform: translateY(0.625em);
	transition: transform 0.3s;
	transition-delay: 0.1s;
}
.modal__top--show {
	transform: translateY(0px);
}
.modal__bottom {
	width: 20em;
	transform: translateY(-0.625em);
	transition: transform 0.3s;
	transition-delay: 0.1s;
}
.modal__bottom--show {
	transform: translateY(0px);
}
@keyframes scale {
	0% {
		transform: scale(1.09);
	}
	100% {
		transform: scale(1);
	}
}
.modal__img {
	width: 10em;
}
.modal__img-show {
	animation-name: scale;
	animation-duration: 0.4s;
	animation-timing-function: ease-out;
}
.modal__info {
	width: 100%;
	padding-top: 0.3125em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.modal__contentStats {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.modal__name {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 0.3125em;
	margin-bottom: 0px;
}
.modal__nameNumber {
	margin-right: 0.3125rem;
}
.modal__stats {
	margin-top: 0.3125em;
	padding-left: 0;
}
.modal__st {
	width: 17.5em;
	margin-bottom: 0.3125em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.125em solid var(--grisClaro);
}
.modal__statsValue--types {
	margin-left: 0.3125em;
	background-color: var(--colorTypes);
	padding: 0.1875em 0.625em;
	border-radius: 0.625em;
	font-weight: bold;
}
.modal__st--types {
	border-bottom: 0px solid transparent;
}
.pokemonNotFound {
	width: 100%;
	height: 100vh;
	font-size: 0.9375rem;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	display: grid;
	place-items: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
	background-color: var(--grisMuyClaroTransparent);
}
.pokemonNotFound--show {
	opacity: 1;
	visibility: visible;
}
.pokemonNotFound__content {
	width: 18.75em;
	height: 20em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	transform: translateY(-100%);
	transition: transform 0.3s;
	border-radius: 0.3125em;
	border: 0.25em solid var(--bluePrimary);
	box-shadow: 0 0 0.625em var(--bluePrimary);
	background-color: var(--grisClaro);
}
.pokemonNotFound__content--show {
	transform: scale(1);
}
.pokemonNotFound__title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1em;
	line-height: 2.5em;
	text-align: center;
	color: yellow;
	-webkit-text-stroke: 0.0625rem blue;
	font-family: Ketchum, system-ui, sans-serif;
}
@media screen and (min-width: 1024px) {
	.pokemonNotFound__title {
		font-size: 4em;
	}
}
.pokemonNotFound__icon {
	width: 9.375em;
	height: 9.375em;
}
